textarea {
  width: 100%;
  margin: 10px auto 10px;
  height: 100px;
  border-color: black;
}
.btn.grid {
  width: 20%;
  margin: 50px;
  background-color: lightgrey;
  border: 2px solid;
  border-radius: 2px;
  border-color: black;
  cursor: pointer;
  font-size: 25px;
}
.container {
  background: lightgrey;
}
.grid {
  float: left;
  padding: 10px 50px;
  width: 50%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.output {
  border-left: 1px solid darkgrey;
  overflow: hidden;
}
.output iframe {
  border-color: black;
  width: 100%;
  height: 380px;
}
